/* game box */

main{
  width: 60vw;
  margin: auto;
}

.css-cat{
  height: 250px;
  border: 2px solid black;
  background: #889ddf;
  overflow: hidden;
  position: relative;
}

.css-cat > *{
  position: absolute;
}

/* game elements */

#kitty{
  width: 60px;
  height: 50px;
  background-image:url(./resources/img/games-cat.gif);
  background-size: 60px 50px;
  z-index: 1;
  top: 155px;
  left: 80px;
}

#star{
  height: 50px;
  width: 50px;
  background-image:url(./resources/img/games-star.webp);
  background-size: 50px 50px;
  top: 166px;
  animation: star-flying 3s infinite linear;
  z-index: 4;
}

@keyframes star-flying{
  0%{
    transform: rotate(0deg);
    left: 900px;
  }
  100%{
    transform: rotate(200deg);
    left: -100px;
  }
}

#cloud{
  width: 300%;
  height: 50px;
  background-image:url(./resources/img/games-cloud.webp);
  background-size: 580px 50px;
  z-index: 3;
  top: 200px;
  animation: cloud-scrolling 5s infinite linear;
}

@keyframes cloud-scrolling{
    0%{
      left: 0px;
    }
    100%{
      left: -580px;
    }
  }

/*checkboxes*/
label[id*="box"]{
  width: 100%;
  height: 100%;
  z-index: 5;
}

#no-box{
  top: 240px;
  background-color: purple;

}

input[id*="jump"]{
  display: none;
}

#standard-jump:checked ~ #kitty{
  animation: jump1 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}
#standard-jump:not(:checked) ~ #kitty {
  animation: jump2 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}

#standard-jump:checked ~ #no-box{
  animation: no-jump1 0.6s;
}

#standard-jump:not(:checked) ~ #no-box {
  animation: no-jump2 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}


@keyframes jump1{
  0%{
    top: 155px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }
}

@keyframes jump2{
  0%{
    top: 155px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }
}

@keyframes no-jump1{
  0%{
    top: 0px;
  }

  100%{
    top: 0px;
  }
}

@keyframes no-jump2{
  0%{
    top: 0px;
  }

  100%{
    top: 0px;
  }
}
