/* general body styling */

body {
  font-family: Helvetica;
  margin: auto;
  background-color: #eeeeee;
}

/* header styling */

header {
  background-color: #bcbcbc;
  display: grid;
  grid-template-columns: max(50px, 4vw) auto auto;
}

header img {
  height: 3vw;
  width: 3vw;
  min-width: 40px;
  min-height: 40px;
  margin: auto;
  padding: 0.5em;
}

header img{animation: spin 10s linear infinite;}
@keyframes spin {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}}
header img:hover {animation: spin2 1.5s linear infinite;}
@keyframes spin2 {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}}


header nav a, header h1 {
  font-size: 1.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

header h1 a {
  font-size: 1.1em;
}

header h1 a, header nav a {
  text-decoration: none;
  color: #444444;
}

header h1{
  margin: auto;
  margin-left: 0;
}

header nav {
padding-left: 20px;
padding-right: 20px;
margin: auto;
margin-right: 0px;
}

header nav a:hover {
  color: #eeeeee;
}

@media (max-width: 550px) {
    header h1 a, header nav a {
      font-size: 1em;
      padding-left: 0.1em;
      padding-right: 0.1em;
    }
    header {
      grid-template-columns: max(50px, 4vw) 5em auto;
    }
}

@media (max-width: 450px) {
    header h1 a, header nav a {
      font-size: 0.9em;
      padding-left: 0em;
      padding-right: 0em;
    }
}

/* main styling */

/*index & contact page styling*/

.intro{
  padding-top: 10vw;
  display: grid;
  grid-template-columns: auto 50ex auto;
}

.intro p{
  grid-column: 2;
  grid-row: 1;
  font-size: 2em;
  text-align: center;
}

@media (max-width: 550px) {
    .intro p{
        font-size: 1.5em;
    }
    .intro{
      grid-template-columns: auto 80vw auto;
    }
}

/*about me page styling*/

.about-me h2 {
  text-align: center;
}

.about-me {
  padding-left: 8%;
  padding-right: 8%;
  margin: auto;
  padding-top: 1ex;
  font-size: 1em;
  text-align: justify;
}

@media (min-width: 550px) {
    .about-me {
        max-width: 50ex;
        padding-top: 4ex;
        font-size: 1.1em;
    }
}

@media (max-width: 300px) {
    .about-me {
      text-align: left;
    }
}

/*projects page styling*/

.projects {
  width: 70vw;
  max-width: 33em;
  text-align: justify;
  margin: auto;
  padding-top: 50px;
  font-size: 1.1em;
}

.projects h2 {
  text-align: center;
}

.projects a {
  text-decoration: none;
}

.project{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2vw;
  padding: 1vw;
  border:1px solid black;
  border-radius: 0.5em;
}
.project:hover{
  background-color: #bcbcbc;
}


.project h3{
  grid-column: 1;
  grid-row: 1;
  text-decoration: none;
  color: #444444;
}

.project p {
  grid-column: 1;
  grid-row: 2;
  font-size: 1em;
  text-decoration: none;
  color: black;

}

.project img{
  width: 30vw;
  max-width: 16em;
  grid-column: 2;
  grid-row: 1 /3;
  margin: auto;
}


@media (max-width: 700px) {
  .projects {
    width: 80vw;
    padding-top: 2em;
    font-size: 1em;
  }
}

@media (max-width: 450px) {
  .project h3{
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    text-align: center;
  }
  .project p {
    grid-column: 1 / 3;
    grid-row: 2;
    font-size: 1em;
    text-align: left;
  }
  .project img{
    grid-column: 2;
    grid-row: 1;

  }
  .projects {
    width: 90vw;
  }
}

/* blog css */

.blog-post {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.post-title h2 {
  margin: 0;
}

.dropdown-btn {
  background-color: #35424a;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.post-content {
  display: none;
  margin-top: 10px;
}
